<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>发动机</title>
		<link rel="stylesheet" href="../css/index.css" />
		<style>

		</style>
	</head>

	<body>
		<div id="Vmengine">
			<el-row>
				<el-col :span="24">
					<el-col :span="6">
						<el-input v-model="engineInpue" placeholder="请输入发动机名称"></el-input>
					</el-col>
					<el-col :span="4">
						<el-button @click="selectEngine">查询</el-button>
					</el-col>
					<el-col :span="4" :offset="10">
						<el-button type="primary" @click="showAdd">新增发动机</el-button>
					</el-col>
				</el-col>
				<el-col :span="24">
					<!--:default-sort="{prop: 'pdate', order: 'descending'}"默认排序-->
					<el-table :default-sort="{prop: 'engineNumber', order: 'descending'}" :data="this.pageInfo.list" border>
						<el-table-column width="100" label="序号">
							<template slot-scope="temp">
								{{temp.$index+1}}
							</template>
						</el-table-column>
						<el-table-column width="150" prop="engineId" label="发动机ID" sortable>
						</el-table-column>
						<el-table-column width="150" prop="engineNumber" label="发动机品牌编码">
						</el-table-column>
						<el-table-column width="150" prop="engineName" label="发动机品牌名称" >
						</el-table-column>
						<el-table-column label="操作">
							<template slot-scope="temp">
								<el-button icon="el-icon-search" size="mini" type="info" @click="showInfo(temp.row.engineId)" circle></el-button>
								<el-button icon="el-icon-delete" size="mini" type="danger" @click="deleteEngine(temp.row.engineId)" circle></el-button>
							</template>
						</el-table-column>
					</el-table>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-pagination v-if="pageInfo.total!=0" :background="true" :pager-count="7" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.pageNum" :page-size="pageInfo.pageSize" :total="pageInfo.total" :page-sizes="[3,6,8]"  layout="total, sizes, prev, pager, next, jumper">
					</el-pagination>
				</el-col>
			</el-row>
			<!--模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen" title="发动机信息" :visible.sync="isShow" :before-close="handleClose" center>
				<div id="modalcnt"></div>
			</el-dialog>
			<el-dialog :destroy-on-close="true" @opened="handlOpen1" title="发动机信息" :visible.sync="isShowtow" :before-close="handleClose" center>
				<div id="modalcnt"></div>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script>
		var Vmengine = new Vue({
			data:{
				engine: {},
				pageInfo: {},
				isShow: false,
				isShowtow:false,
				engineInpue:''
			},
			methods:{
				goToPage(p, s) {
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/ymj/api/engines/query?p="+p+"&s="+s+"&engineName="+_this.engineInpue+"", function(data) {
						_this.pageInfo = data;
					});
				},
				//分页
				handleSizeChange(val) {
					this.goToPage(this.pageInfo.pageNum, val);
				},
				handleCurrentChange(val) {
					this.goToPage(val, this.pageInfo.pageSize);
				},
				deleteEngine(engineId){
					let _this = this;
					this.$confirm('是否移除会员信息?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.ajax(`http://127.0.0.1:8080/ymj/api/engines/engine/${engineId}`, {
							type: 'delete',
							dataType: 'json',
							success(msg) {
								if(msg.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									_this.loading = true;
									_this.goToPage(1, _this.pageInfo.pageSize);
								}	
							}
						});
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				selectEngine(){
					let _this=this;
					this.goToPage(1,3);
				},
				//模态框
				showDialog(engineId) {
					this.isShow=true;
					sessionStorage.setItem('engineId', engineId);
				},
				handlOpen() {
				 	 $("#modalcnt").load('engineInfo.html');
				},
				handlOpen1(){
					$("#modalcnt").load('engineAdd.html');
				},
				handleClose(done) {
					this.$confirm('是否关闭').then(() => {
						done();
					}).catch(() => {});
				},
				showInfo(engineId){
					this.isShow=true;
					$('#modalcnt').load('engineInfo.html');
					sessionStorage.setItem('engineId', engineId);
				},
				showAdd(){
					this.isShowtow=true;
					$('#modalcnt').load('engineAdd.html');
				}
			},
			mounted(){
				this.goToPage(1,3);
			}
		}).$mount("#Vmengine");
	</script>

</html>