<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/index.css" />
		<title>首页</title>
		<style>
			.el-header {
				color: #333;
				line-height: 60px;
			}
			
			.el-tabs__nav-wrap:after {
				width: 0px;
			}
			
			.el-aside {
				background-color: #D3DCE6;
				color: #333;
				text-align: center;
				line-height: 200px;
			}
			
			.el-main {
				background-color: #E9EEF3;
				color: #333;
			}
			
			.shezi {
				margin-left: 10px;
				color: #000000;
			}
			/**
			 * 标签选项卡
			 */
			
			.el-tag+.el-tag {
				margin-left: 10px;
			}
			
			.button-new-tag {
				margin-left: 10px;
				height: 32px;
				line-height: 30px;
				padding-top: 0;
				padding-bottom: 0;
			}
			
			.input-new-tag {
				width: 90px;
				margin-left: 10px;
				vertical-align: bottom;
			}
			
			.el-link.el-link--default {
				color: #000000;
			}
		</style>
	</head>

	<body style="margin: 0;">
		<div id="Vmapp">
			<el-container>
				<el-row>
					<el-col :span="24" style="height: 28px;background: #00a1cc;color: #FFFFFF;margin: 0 auto;line-height: 28px;">
						<el-col :span="5" :offset="19">客服电话：18658695358</el-col>
					</el-col>
				</el-row>
				<el-header style="margin-top: 10px;">
					<el-row>
						<el-col :span='7' style="text-align: center;color: #FFFFFF;">
							<el-image style="width: 238.28px;height: 58px;" :src="url1">
							</el-image>
						</el-col>
						<el-col :span='10'>
							<template id="bianqianye">
								<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" style="background-color: #FFFFFF;">
									<el-menu-item index="2">维修</el-menu-item>
									<el-menu-item index="3">前台</el-menu-item>
									<el-menu-item index="4">客服</el-menu-item>
									<el-menu-item index="5">数据</el-menu-item>
									<el-menu-item index="6">人事</el-menu-item>
									<el-menu-item index="7">系统</el-menu-item>
								</el-menu>
								<div class="line"></div>
							</template>
						</el-col>
						<el-col :span='6'>
							<template>
								<div>
									<el-avatar style="position: relative;top: 10px;" :src="userPwd"></el-avatar>
									<el-dropdown style="position: relative;bottom: 5px;left: 2px;">
										<span class="el-dropdown-link" style="color: #909399;">username<i class="el-icon-arrow-down el-icon--right"></i></span>
										<el-dropdown-menu slot="dropdown">
											<el-dropdown-item icon="el-icon-plus">个人信息</el-dropdown-item>
											<el-dropdown-item icon="el-icon-circle-plus">主页信息</el-dropdown-item>
											<el-dropdown-item icon="el-icon-circle-plus-outline">汽修查询</el-dropdown-item>
											<el-dropdown-item icon="el-icon-check">会员管理</el-dropdown-item>
											<el-dropdown-item icon="el-icon-circle-check">公司信息</el-dropdown-item>
										</el-dropdown-menu>
									</el-dropdown>
									<span style="position: relative;left: 70px;bottom: 4px;">
										 <el-link :underline="false" style="margin-right: 10px;color: #909399;">设置</el-link>
										 <el-link :underline="false" style="color: #909399;">注销</el-link>
									</span>
								</div>
							</template>
						</el-col>
					</el-row>
				</el-header>
				<el-container>
					<el-aside width="220px" style="height: 620px;background-color:#aside;">
						<el-col :span="24">
							<el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#FFFFFF" text-color="#000000" active-text-color="#ffd04b">
								<el-menu-item index="1" @click="showView('首页功能','首页')">
									<i class="el-icon-menu"></i>
									<span slot="title">首页</span>
								</el-menu-item>
								<div class="elaside"></div>
							</el-menu>
						</el-col>
					</el-aside>
					<el-main>
						<el-row>
							<el-tabs v-model="editableTabsValue" @tab-click="goTabs" @tab-remove="removeTab" closable type="card">
								<el-tab-pane :key="item.name" v-for="(item, index) in editableTabs" :label="item.title" :name="item.name">
									{{item.content}}
								</el-tab-pane>
							</el-tabs>
						</el-row>
						<el-row>
							<div id="cnt"></div>
						</el-row>
					</el-main>
				</el-container>
				<!--<el-footer style='height:10%;'>
					<div align="center" style="font-size: 12px; margin-top: 10px;">
						关于德召文 | 诚征英才 | 联系我们 | International Business | About DeZhaoWen <br /> ICP证：京ICP备12046672号-1
					</div>
				</el-footer>-->
			</el-container>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script>
		var Vmapp = new Vue({
			data: {
				url1: "../img/dezhaowenLogo.gif",
				userPwd: "https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png",
				activeIndex: '1',
				//头标签页默认
				activeName: 'zero',
				//动态增减标签页
				editableTabsValue: '',
				tabIndex: 1,
				editableTabs: [

				]
			},
			mounted() {
				this.showView('首页功能', '首页');
			},
			methods: {
				showView(url, ti) {
					let _this = this;
					let tab = {
						title: ti,
						name: url
					};
					let items = this.editableTabs.filter(function(temp) {
						return temp.name == url; //过滤条件
					});
					if(items.length <= 0) {
						_this.editableTabs.push(tab);
					}
					_this.editableTabsValue = url;
					$('#cnt').load(url + ".html");
				},
				handleSelect(key, keyPath) {
					let _this = this;
					if(key == 2) {
						$(".elaside").load("维修下拉菜单.html");
					} else if(key == 3) {
						$(".elaside").load("前台下拉菜单.html");
					} else if(key == 4) {
						$(".elaside").load("客服下拉菜单.html");
					} else if(key == 5) {
						$(".elaside").load("数据下拉菜单.html");
					} else if(key == 6) {
						$(".elaside").load("人事下拉菜单.html");
					} else if(key == 7) {
						$(".elaside").load("系统下拉菜单.html");
					}
				},
				//菜单栏 
				handleClose(key, keyPath) {
					console.log(key, keyPath);
				},
				handleOpen(key, keyPath) {
					console.log(key, keyPath);
				},
				removeTab(targetName) {
					let tabs = this.editableTabs;
					let activeName = this.editableTabsValue;
					if(activeName === targetName) {
						tabs.forEach((tab, index) => {
							if(tab.name === targetName) {
								let nextTab = tabs[index + 1] || tabs[index - 1];
								if(nextTab) {
									activeName = nextTab.name;
									this.showView(nextTab.name, nextTab.title);
								}
							}
						});
					}
					this.editableTabsValue = activeName;
					this.editableTabs = tabs.filter(tab => tab.name !== targetName);
					if(this.editableTabs.length == 0) {
						this.showView("首页功能", '首页');
					}
				},
				goTabs() {
					$('#cnt').load(this.editableTabsValue + ".html");
				}
			}
		}).$mount("#Vmapp");
	</script>

</html>