<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.RolemenuMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.RolemenuKey" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <id column="fid" property="fid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.example.pojo.RolemenuKey" >
    delete from rolemenu
    where rid = #{rid,jdbcType=INTEGER}
      and fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.pojo.RolemenuKey" >
    insert into rolemenu (rid, fid)
    values (#{rid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.RolemenuKey" >
    insert into rolemenu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="fid != null" >
        fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>