<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.SubsetMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.Subset" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sprice" property="sprice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, cid, sname, sprice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subset
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subset
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.pojo.Subset" >
    insert into subset (sid, cid, sname, 
      sprice)
    values (#{sid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, 
      #{sprice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.Subset" >
    insert into subset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="sprice != null" >
        sprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sprice != null" >
        #{sprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.Subset" >
    update subset
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sprice != null" >
        sprice = #{sprice,jdbcType=DECIMAL},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pojo.Subset" >
    update subset
    set cid = #{cid,jdbcType=INTEGER},
      sname = #{sname,jdbcType=VARCHAR},
      sprice = #{sprice,jdbcType=DECIMAL}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>