<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="appupdatekh">
			<el-form :model="client" label-width="100px">
				<el-row>
					<el-col :span="12">
						<el-form-item label="客户编号">
							<el-input readonly v-model="client.clid"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="客户名称" prop="clname">
							<el-input v-model="client.clname"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-form-item label="客户生日">
							<el-date-picker type="date" v-model="client.cldate" placeholder="选择日期" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="客户性别">
							<el-radio-group v-model="client.clsex">
								<el-radio label="男"></el-radio>
								<el-radio label="女"></el-radio>
							</el-radio-group>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-form-item label="身份证" prop="clidentity">
							<el-input v-model="client.clidentity"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="联系方式" prop="clphone">
							<el-input v-model="client.clphone"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="8">
						<el-form-item label="省">
							<el-input v-model="client.province"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="8">
						<el-form-item label="市">
							<el-input v-model="client.city"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="8">
						<el-form-item label="区">
							<el-input v-model="client.district"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="24">
						<el-form-item label="详细地址">
							<el-input v-model="client.address"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="24">
						<el-form-item label="备注">
							<el-input v-model="client.remark"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-form-item label="车牌号">
							<el-input v-model="client.datums.license"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="驾驶员">
							<el-input v-model="client.datums.pilot"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-form-item label="驾驶员电话">
							<el-input v-model="client.datums.dphone"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="车辆归属">
							<el-select placeholder="请选择" v-model="client.datums.ownership">
								<el-option label="公司" value="shanghai"></el-option>
								<el-option label="个人" value="beijing"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-form-item label="车辆品牌">
							<el-select placeholder="请选择" v-model="client.datums.dbrand">
								<el-option @click.native="queryByid(item.bid)" v-for="item in brand" :key="item.bname" :label="item.bname" :value="item.bname">

								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="车型">
							<el-select placeholder="请选择" v-model="client.datums.dsignal">
								<el-option v-for="item in motorcycle" :key="item.mname" :label="item.mname" :value="item.mname">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-form-item label="购车生日">
							<el-date-picker v-model="client.datums.ddate" type="date" placeholder="选择日期" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="汽车颜色">
							<el-input v-model="client.datums.dcolor"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-form-item label="当前里程数">
							<el-input v-model="client.datums.mileage"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="燃料类别">
							<el-input v-model="client.datums.fuel"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="24">
						<el-form-item>
							<el-button type="primary" @click="updateByid">立即修改</el-button>
							<el-button>重置</el-button>
						</el-form-item>
					</el-col>
				</el-row>

			</el-form>
		</div>
	</body>
	<script>
		var appupdatekh = new Vue({
			el: "#appupdatekh",
			data: {
				//车辆品牌
				brand: [],
				//车型
				motorcycle: [],
				client: {}
			},
			methods: {
				//查询车辆型号
				queryByid(bid) {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/client/queryBybid/${bid}`, function(pg) {
						_this.motorcycle = pg;
					});
				},

				//查询车辆品牌
				querybrand() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/client/queryBrand`, function(pg) {
						_this.brand = pg;
					});
				},
				goBack() {
					appone.isShow = false; //非常重要
					app.showView('khzl.html'); //调用主页的vm引擎方法,跳页面
				},
				updateByid() {

					let _this = this;
					$.ajax('http://localhost:8080/api/client/client', {
						type: 'put',
						data: JSON.stringify(_this.client),
						dataType: 'json',
						contentType: 'application/json',
						success(msg) {
							if(msg.code == "200") {
								_this.$message({
									type: 'success',
									message: '更新成功'
								});
								_this.goBack();
							}
						}
					})
				},
				queryByid(id) {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/client/queryByid/${id}`, function(person) {
						alert(JSON.stringify(person))
						_this.client = person;
					});
				}
			},
			mounted() {
				this.querybrand();
				let id = sessionStorage.getItem('id');
				if(id) {
					this.queryByid(id);
				}
			}
		})
	</script>

</html>