<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="appznjc">
			<el-row>
				<el-col :span="24">
					<template>
						<el-tabs v-model="activeName" type="card" @tab-click="handleClick">
							<el-tab-pane label="站内维修" name="first">
								<el-row>
									<el-col :span="6">
										<el-input v-model="order.oid" disabled>
											<template slot="prepend">维修单号</template>
										</el-input>
									</el-col>
									<el-col :span="8" :offset="2">
										<el-input placeholder="请输入内容" v-model="order.oremark" >
											<template slot="prepend">备注</template>
										</el-input>
									</el-col>
									<el-col :span="8">
										<el-row>
											<el-col :span="16" :offset="4">
												<el-form label-width="100px">
													<el-form-item label="维修人员:">
														<el-cascader :options="options" v-model="order.crew" :show-all-levels="false"></el-cascader>
													</el-form-item>
												</el-form>
											</el-col>
										</el-row>

									</el-col>
								</el-row>
								<el-row>
									<el-col :span="6">
										<el-input placeholder="联系电话"  v-model="order.ophone">
											<template slot="prepend">联系电话</template>
										</el-input>
									</el-col>
									<el-col :span="6" :offset="2">
										<el-input placeholder="车主姓名" v-model="order.oname">
											<template slot="prepend">车主姓名</template>
										</el-input>
									</el-col>
									<el-col :span="4" :offset="4">
										<el-form label-width="80px" @submit.native.prevent>
											<el-form-item label="车牌号：">
												<el-input v-model="order.olicense" @keyup.enter.native="doLogin" ></el-input>
											</el-form-item>
										</el-form>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="6">
										<el-input placeholder="车辆品牌" v-model="order.obrand">
											<template slot="prepend">车辆品牌</template>
										</el-input>
									</el-col>
									<el-col :span="6" :offset="2">
										<el-input placeholder="车辆型号" v-model="order.omodel">
											<template slot="prepend">车辆型号</template>
										</el-input>
									</el-col>
									<el-col :span="2" :offset="4">
										<el-button type="primary" round @click="showDialog">添加维修项目</el-button>
									</el-col>
									<el-col :span="2" :offset="1">
										<el-button type="primary" round>添加维修商品</el-button>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="18" style="margin-top: 60px;" :offset="3">
										<template>
											<el-table style="width: 100%;height: 400px;">
												<el-table-column label="日期" width="180">
												</el-table-column>
												<el-table-column label="姓名" width="180">
												</el-table-column>
												<el-table-column label="地址">
												</el-table-column>
											</el-table>
										</template>

									</el-col>
								</el-row>
								<el-row>
									<el-col :span="2">
										<p>维修人员<span>王五</span></p>
									</el-col>
									<el-col :span="2" :offset="6">
										<p>维修时新<span>50</span></p>
									</el-col>
									<el-col :span="4" :offset="10">
										<p>订单总金额<span>300</span></p>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8" :offset="8">
										<el-button type="primary" @click="add">生成订单</el-button>
									</el-col>
								</el-row>
							</el-tab-pane>

							<!--
                            	作者：offline
                            	时间：2020-07-28
                            	描述：站外页面
                            -->
							<el-tab-pane label="站外维修" name="second">配置管理</el-tab-pane>

						</el-tabs>
					</template>
				</el-col>
			</el-row>
			<!--模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen" title="维修项目" :visible.sync="isShow" :before-close="handleClose" center>
				<div id="modalcnt" style="height: 600px;"></div>
			</el-dialog>
		</div>
	</body>
	<script>
		var appznjc = new Vue({
			el: "#appznjc",
			data: {
				order:{
					oid:'',
					settlementid:0,
					ostate:0,
					ovehicle:'',
					oremark:'',
					crew:'',
					olicense:'',
					ophone:'',
					oname:'',
					obrand:'',
					omodel:'',
					sums:18,
					odate:'',
					wstate:0,
					finishtime:'',
					rework:0,
					cause:0
				},			
				isShow: false,
				activeName: 'first',
				options: [{
					label: '维修班组1号',
					children: [{
						label: '天天'
					}, {
						label: '美美'
					}]
				}]
			},
			mounted() {
				this.querys();
				this.createCode()
			},
			methods: {
				querys(){
						let _this=this;
						$.getJSON(`http://localhost:8080/api/teams/querys`, function(person) {
							alert(person)
						});
				},
				  doLogin() {
 			 			let _this=this;
						$.getJSON(`http://localhost:8080/api/weixiu/queryByid/${_this.order.olicense}`, function(person) {
							_this.order.ophone = person.dphone;
							_this.order.oname=person.pilot;
							_this.order.obrand=person.dbrand;
							_this.order.omodel=person.dsignal;
						});
  				  },
				
				showDialog() {
					this.isShow = true;
				},
				handlOpen() {
					$("#modalcnt").load('addwxxm.html');
				},
				handleClose(done) {
					this.$confirm('是否关闭').then(() => {
						done();
					}).catch(() => {});
				},
				add() {
					alert("123")
				},
				handleClick(tab, event) {
					console.log(tab, event);
				},
				//随机维修订单编号
				createCode() {
					var code = '';
					//设置长度，这里看需求，我这里设置了4
					var codeLength = 8;
					//设置随机字符
					var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
					//循环codeLength 我设置的4就是循环4次
					for(var i = 0; i < codeLength; i++) {
						//设置随机数范围,这设置为0 ~ 36
						var index = Math.floor(Math.random() * 9);
						//字符串拼接 将每次随机的字符 进行拼接
						code += random[index];
					}
					//将拼接好的字符串赋值给展示的code
					this.order.oid = code;
				}
			}
		})
	</script>

</html>