<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="appznjc">
			<el-row>
				<el-col :span="24">
					<template>
						<el-tabs v-model="activeName" type="card" @tab-click="handleClick">
							<el-tab-pane label="站内维修" name="first">
								<el-row>
									<el-col :span="6">
										<el-input v-model="order.oid" disabled>
											<template slot="prepend">维修单号</template>
										</el-input>
									</el-col>
									<el-col :span="8" :offset="2">
										<el-input placeholder="请输入内容" v-model="order.oremark">
											<template slot="prepend">备注</template>
										</el-input>
									</el-col>
									<el-col :span="8">
										<el-row>
											<el-col :span="16" :offset="4">
												<el-form label-width="100px">
													<el-form-item label="维修人员:">
														<template>
															<el-select v-model="order.crew" placeholder="请选择">
																<el-option-group v-for="group in teams" :key="group.teamsname" :label="group.teamsname">
																	<el-option @click.native="queryByPrice(item.mecprice)" v-for="item in group.mechanic" :key="item.mecname" :label="item.mecname" :value="item.mecname">
																	</el-option>
																</el-option-group>
															</el-select>
														</template>
													</el-form-item>
												</el-form>
											</el-col>
										</el-row>

									</el-col>
								</el-row>
								<el-row>
									<el-col :span="6">
										<el-input placeholder="联系电话" v-model="order.ophone">
											<template slot="prepend">联系电话</template>
										</el-input>
									</el-col>
									<el-col :span="6" :offset="2">
										<el-input placeholder="车主姓名" v-model="order.oname">
											<template slot="prepend">车主姓名</template>
										</el-input>
									</el-col>
									<el-col :span="4" :offset="4">
										<el-form label-width="80px" @submit.native.prevent>
											<el-form-item label="车牌号:">
												<el-input v-model="order.olicense" @keyup.enter.native="doLogin"></el-input>
											</el-form-item>
										</el-form>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="6">
										<el-input placeholder="车辆品牌" v-model="order.obrand">
											<template slot="prepend">车辆品牌</template>
										</el-input>
									</el-col>
									<el-col :span="6" :offset="2">
										<el-input placeholder="车辆型号" v-model="order.omodel">
											<template slot="prepend">车辆型号</template>
										</el-input>
									</el-col>
									<el-col :span="2" :offset="4">
										<el-button type="primary" round @click="showDialog">添加维修项目</el-button>
									</el-col>
									<el-col :span="2" :offset="1">
										<el-button type="primary" round @click="showDialog2">添加维修商品</el-button>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="18" style="margin-top: 60px;" :offset="3">
										<template>
											<el-table :data="details" style="width: 100%;height: 400px;">
												<el-table-column label="项目编码" width="120">
													<template slot-scope="temp">
														{{temp.$index+1}}
													</template>
												</el-table-column>
												<el-table-column label="项目名称" width="180" prop="detailsname">
												</el-table-column>
												<el-table-column label="项目金额" width="180" prop="detailsprice">
												</el-table-column>
												<el-table-column label="预计时间" width="180" prop="detailsdate">
												</el-table-column>
												<el-table-column label="数量" width="100" prop="detailscount">
													<template slot-scope="temp">
														<p v-if="temp.row.detailscount==0">一套</p>
														<p v-if="temp.row.detailscount>0">{{temp.row.detailscount}}</p>
													</template>
												</el-table-column>
												<el-table-column label="操作" width="180">
													<template slot-scope="temp">
														<el-button type="primary" icon="el-icon-delete" circle @click="deldeta(temp.row.detailsid)"></el-button>
													</template>
												</el-table-column>
											</el-table>
										</template>

									</el-col>
								</el-row>
								<el-row>
									<el-col :span="2">
										<p>维修人员:<span style="color: red;">{{order.crew}}</span></p>
									</el-col>

									<el-col :span="2" :offset="8">
										<p>技工费用:<span style="color: red;">{{this.mecprice}}</span></p>
									</el-col>

									<el-col :span="4" :offset="8">
										<p>订单总金额:<span style="color: red;">{{order.sums}}</span></p>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8" :offset="8">
										<el-button type="primary" @click="add">生成订单</el-button>
									</el-col>
								</el-row>
							</el-tab-pane>

							<!--
                            	作者：offline
                            	时间：2020-07-28
                            	描述：站外页面
                            -->
							<el-tab-pane label="站外维修" name="second">
								<el-row>
									<el-col :span="4">
										<p>单号:<span>{{order.oid}}</span></p>
									</el-col>
									<el-col :span="6">
										<el-form :inline="true" class="demo-form-inline">
											<el-form-item label="外派车辆">
												<template>
													<el-select v-model="order.ovehicle" placeholder="请选择">
														<el-option v-for="item in fie" :key="item.carbrand" :label="item.carbrand" :value="item.carbrand">
														</el-option>
													</el-select>
												</template>
											</el-form-item>
										</el-form>
									</el-col>
									<el-col :span="8">
										<el-row>
											<el-col :span="16" :offset="4">
												<el-form label-width="100px">
													<el-form-item label="维修人员:">
														<template>
															<el-select v-model="order.crew" placeholder="请选择">
																<el-option-group v-for="group in teams" :key="group.teamsname" :label="group.teamsname">
																	<el-option @click.native="queryByPrice(item.mecprice)" v-for="item in group.mechanic" :key="item.mecname" :label="item.mecname" :value="item.mecname">
																	</el-option>
																</el-option-group>
															</el-select>
														</template>
													</el-form-item>
												</el-form>
											</el-col>
										</el-row>
									</el-col>
									<el-col :span="4">
										<el-form label-width="80px" @submit.native.prevent>
											<el-form-item label="车牌号:">
												<el-input v-model="order.olicense" @keyup.enter.native="doLogin"></el-input>
											</el-form-item>
										</el-form>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="4">
										<el-input placeholder="联系电话" v-model="order.ophone">
											<template slot="prepend">联系电话</template>
										</el-input>
									</el-col>
									<el-col :span="4" :offset="2">
										<el-input placeholder="车主姓名" v-model="order.oname">
											<template slot="prepend">车主姓名</template>
										</el-input>
									</el-col>
									<el-col :span="4" :offset="2">
										<el-input placeholder="车辆品牌" v-model="order.obrand">
											<template slot="prepend">车辆品牌</template>
										</el-input>
									</el-col>
									<el-col :span="4" :offset="2">
										<el-input placeholder="车辆型号" v-model="order.omodel">
											<template slot="prepend">车辆型号</template>
										</el-input>
									</el-col>
								</el-row>
								<el-row style="margin-top: 20px;">
									<el-col :span="6">
										<el-input placeholder="请输入内容" v-model="order.oremark">
											<template slot="prepend">备注</template>
										</el-input>
									</el-col>
									<el-col :span="6" :offset="1">
										<el-input placeholder="" v-model="destination">
											<template slot="prepend">目的地</template>
										</el-input>
									</el-col>
									<el-col :span="4" :offset="1">
										<el-input placeholder="" v-model="mileage">
											<template slot="prepend">公里数</template>
										</el-input>
									</el-col>
									<el-col :span="2">
										<el-button type="primary" round @click="showDialog">添加维修项目</el-button>
									</el-col>
									<el-col :span="2">
										<el-button type="primary" round @click="showDialog2">添加维修商品</el-button>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="6">
										<p style="color: red;font-size: 2em;">接车200起步,一公里5块钱</p>
									</el-col>
									<el-col :span="6" :offset="12">
										<p style="font-size: 2em;">接车费用<span style="color: red;">{{cost}}</span></p>
									</el-col>
								</el-row>
								<el-row style="margin-top: 10px;">
									<el-col>
										<el-button @click="isShow3 = true" type="primary" style="margin-left: 16px;">
											选择接车地点
										</el-button>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="18" style="margin-top: 60px;" :offset="3">
										<template>
											<el-table :data="details" style="width: 100%;height: 400px;">
												<el-table-column label="项目编码" width="120">
													<template slot-scope="temp">
														{{temp.$index+1}}
													</template>
												</el-table-column>
												<el-table-column label="项目名称" width="180" prop="detailsname">
												</el-table-column>
												<el-table-column label="项目金额" width="180" prop="detailsprice">
												</el-table-column>
												<el-table-column label="预计时间" width="180" prop="detailsdate">
												</el-table-column>
												<el-table-column label="数量" width="100" prop="detailscount">
													<template slot-scope="temp">
														<p v-if="temp.row.detailscount==0">一套</p>
														<p v-if="temp.row.detailscount>0">{{temp.row.detailscount}}</p>
													</template>
												</el-table-column>
												<el-table-column label="操作" width="180">
													<template slot-scope="temp">
														<el-button type="primary" icon="el-icon-delete" circle @click="deldeta(temp.row.detailsid)"></el-button>
													</template>
												</el-table-column>
											</el-table>
										</template>

									</el-col>
								</el-row>
								<el-row>
									<el-col :span="2">
										<p>维修人员:<span style="color: red;">{{order.crew}}</span></p>
									</el-col>

									<el-col :span="2" :offset="8">
										<p>技工费用:<span style="color: red;">{{this.mecprice}}</span></p>
									</el-col>

									<el-col :span="4" :offset="8">
										<p>订单总金额:<span style="color: red;">{{order.sums}}</span></p>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8" :offset="8">
										<el-button type="primary" @click="add1">生成订单</el-button>
									</el-col>
								</el-row>
								<el-drawer title="选择位置" :visible.sync="isShow3" :with-header="false">
									<iframe src="百度地图.html" width="510px" height="500px"></iframe>
									<div class="demo-drawer__footer">
										<el-button>取 消</el-button>
										<el-button type="primary" @click="zwwx">确 定</el-button>
									</div>
								</el-drawer>
							</el-tab-pane>

						</el-tabs>
					</template>
				</el-col>
			</el-row>
			<!--添加维修项目模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen" title="维修项目" :visible.sync="isShow" :before-close="handleClose" center>
				<div id="modalcnt" style="height: 600px;"></div>
			</el-dialog>
			<!--添加维修商品模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen2" title="维修项目" :visible.sync="isShow2" :before-close="handleClose2" center>
				<div id="modalcnt1" style="height: 600px;"></div>
			</el-dialog>

		</div>
	</body>
	<script>
		var appznjc = new Vue({
			el: "#appznjc",
			data: {
				//外派车辆
				fie: [],
				//接车费用
				cost: 200,
				//公里数
				mileage: '',
				//目的地
				destination: '',
				//技工费
				mecprice: 0,
				totalPrice: 0,
				//维修项目结果集
				details: [],
				teams: [],
				order: {
					oid: '',
					settlementid: 0,
					ostate: 0,
					ovehicle: '',
					oremark: '',
					crew: '',
					odatetime: new Date(),
					olicense: '',
					ophone: '',
					oname: '',
					obrand: '',
					omodel: '',
					sums: 0,
					odate: '',
					wstate: 0,
					finishtime: '',
					rework: 0,
					cause: 0
				},
				isShow: false,
				isShow2: false,
				//打开地图
				isShow3: false,
				activeName: 'first',

			},
			mounted() {
				this.wqclquery();
				this.querys();
				this.createCode();
			},
			methods: {
				//生成站外维修订单
				add1() {
					let _this = this;
					$.ajax('http://localhost:8080/api/weixiu/zwwx/order', {
						type: 'post',
						data: JSON.stringify(_this.order),
						dataType: 'json',
						contentType: 'application/json',
						success(message) {
							if(message.code == "200") {
								_this.$message({
									type: 'success',
									message: '订单生成成功'
								});
								app.showView('wxjc.html'); //调用主页的vm引擎方法,跳页面
							} else {
								_this.$message({
									type: 'warning',
									message: '出现预期之外的错误'
								});
							}
						}
					});
				},
				//站外接车车辆
				wqclquery() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/order/fiequery`, function(person) {
						_this.fie = person;
					});
				},
				//添加接车费用
				zwwx() {
					let _this = this;
					$.ajax(`http://localhost:8080/api/detailsbiz/add/zwwx/${_this.order.oid}/${_this.cost}`, {
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						success(message) {
							if(message.code == "200") {
								_this.isShow3 = false;
								_this.querydeta();
								_this.sums();
							}
						}
					});
				},
				//打开地图
				themap() {
					this.isShow3 = true;
				},
				handlOpen3() {

				},
				handleClose3(done) {
					this.$confirm('是否关闭').then(() => {
						done();
					}).catch(() => {});
				},
				//选出技工价格
				queryByPrice(price) {
					this.mecprice = price;
					this.sums();
				},
				//求总价格
				sums() {
					this.totalPrice = 0;
					for(let i = 0; i < this.details.length; i++) {
						if(this.details[i].detailscount == 0) {
							this.totalPrice += this.details[i].detailsprice
						} else {
							this.totalPrice += (this.details[i].detailsprice * this.details[i].detailscount);
						}

					}
					this.order.sums = this.totalPrice + this.mecprice;
				},
				//根据商品id删除
				deldeta(detailsId) {
					let _this = this;
					$.ajax(`http://localhost:8080/api/detailsbiz/${detailsId}`, {
						type: 'delete',
						dataType: 'json',
						contentType: 'application/json',
						success(message) {
							if(message.code == "200") {
								_this.$message({
									type: 'success',
									message: '删除成功'
								});
								_this.querydeta();
								_this.sums();
							}
						}
					});
				},
				//根据订单编号查询
				querydeta() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/detailsbiz/${_this.order.oid}`, function(person) {
						_this.details = person;
						_this.sums();
					});
				},
				//查询维修人员
				querys() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/teams/querys`, function(person) {
						_this.teams = person;
					});
				},
				//通过车牌查询车主信息
				doLogin() {
					let _this = this;
					$.ajax(`http://localhost:8080/api/weixiu/queryByid/${_this.order.olicense}`, {
						type: 'get',
						dataType: 'json',
						contentType: 'application/json',
						success(message) {
							if(message.code == "300") {
								_this.$message({
									type: 'warning',
									message: '此车正在维修中'
								});
							} else if(message.code = "200") {
								_this.order.ophone = message.zhi.dphone;
								_this.order.oname = message.zhi.pilot;
								_this.order.obrand = message.zhi.dbrand;
								_this.order.omodel = message.zhi.dsignal;
							}
						}
					});

					/*
					$.getJSON(`http://localhost:8080/api/weixiu/queryByid/${_this.order.olicense}`, function(person) {
						_this.order.ophone = person.dphone;
						_this.order.oname = person.pilot;
						_this.order.obrand = person.dbrand;
						_this.order.omodel = person.dsignal;
					});
					*/
				},

				showDialog() {
					this.isShow = true;
					sessionStorage.setItem('oid', this.order.oid);
				},
				handlOpen() {
					$("#modalcnt").load('addwxxm.html');
				},
				handleClose(done) {
					this.$confirm('是否关闭').then(() => {
						done();
					}).catch(() => {});
					this.querydeta();
				},

				showDialog2() {
					this.isShow2 = true;
					sessionStorage.setItem('ooid', this.order.oid);
				},
				handlOpen2() {
					$("#modalcnt1").load('addwxsp.html');
				},
				handleClose2(done) {
					this.$confirm('是否关闭').then(() => {
						done();
					}).catch(() => {});
					this.querydeta();
				},
				//生成订单
				add() {
					let _this = this;
					$.ajax('http://localhost:8080/api/weixiu/order', {
						type: 'post',
						data: JSON.stringify(_this.order),
						dataType: 'json',
						contentType: 'application/json',
						success(message) {
							if(message.code == "200") {
								_this.$message({
									type: 'success',
									message: '订单生成成功'
								});
								app.showView('wxjc.html'); //调用主页的vm引擎方法,跳页面
							} else {
								_this.$message({
									type: 'warning',
									message: '出现预期之外的错误'
								});
							}
						}
					});
				},
				handleClick(tab, event) {
					console.log(tab, event);
				},
				//随机维修订单编号
				createCode() {
					var code = '';
					//设置长度，这里看需求，我这里设置了4
					var codeLength = 8;
					//设置随机字符
					var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
					//循环codeLength 我设置的4就是循环4次
					for(var i = 0; i < codeLength; i++) {
						//设置随机数范围,这设置为0 ~ 36
						var index = Math.floor(Math.random() * 9);
						//字符串拼接 将每次随机的字符 进行拼接
						code += random[index];
					}
					//将拼接好的字符串赋值给展示的code
					this.order.oid = code;
				}
			}
		})
	</script>

</html>